<div class="container app-main">
  <h1 class="h3 mb-3">Update your profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-8">
      <%= render partial: "form" %>
    </div>
  </div>
</div>
