<div class="container app-main">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="h3 mb-3"><%= "#{@user.username}'s Profile" %></h1>
    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-light" %>
    <% end %>
  </div>
  
  <h4>Articles</h4>
  <%= render partial: "articles/articles_list" %>

  <%= will_paginate @articles %>
</div>
